# Payette executables that are built by Payette
buildPayette
cleanPayette
extractPayette
f2py
runPayette
vizPayette
testPayette
pconfigure

# Backups
*~

# documentation auxilary
Documents/Documentation/_build/html/_downloads/payette_v-*.tar.gz
Payette*.tar.gz

# Payette files
Toolset/__found_tests__.py
*.cols
*.out
*.xout
*.log
*.diff
*.tmp
*/.DS_Store
.DS_Store
*.prf
*.echo
*.props
*.pyc
*.vtable
*.math1
*.math2
*.dtable
*.so
*.o
*.a

# junk
foo

# Payette configuration files
Payette_config.py
nocallback.signature.pyf
host_defines.h
TestResults.*
installed_materials.pkl

# Example output
Examples/exmpl_*.opt*
Examples/exmpl_*.enum*
Examples/exmpl_*.perm*
Examples/exmpl_*.viz*

# latex
payette_*.sty
