# Payette executables that are built by Payette
buildPayette
extractPayette
f2py
runPayette
vizPayette
testPayette
pconfigure
payette
Toolset/fix*

# Backups
*~

# Junk
tmp
foo

# documentation auxilary
Documents/Documentation/_build/html/_downloads/payette_v-*.tar.gz
Payette*.tar.gz
Source/__config__.py
.payette/config.py
.payette/*user_config*

# Payette files
Toolset/__found_tests__.py
Toolset/__prev_tests__.py
*.cols
*.out
*.xout
*.log
*.diff
*.tmp
*.shearfit
*/.DS_Store
.DS_Store
*.prf
*.echo
*.props
*.cmui
*.pyc
*.vtable
*.math1
*.math2
*.dtable
*.so
*.o
*.mod
*.perm/
*.a
*.barf?
*.barf??
*.barf
Examples/test/*
Examples/test

# Payette configuration files
Payette_config.py
nocallback.signature.pyf
host_defines.h
TestResults.*
installed_materials.pkl
payette_materials.db
materials.db

# Example output
Examples/exmpl_*.opt*
Examples/exmpl_*.enum*
Examples/exmpl_*.perm*
Examples/exmpl_*.viz*

# latex
payette_*.sty
